
body{
	background-color:aliceblue;
}
h1{
	color:blue;
	text-align: left;
}
h2{
	color:blueviolet
}
b{
	color: red;
	font-style:normal;
}
#idfun{
	width: 100px;
	height: 100px;
	border: solid;
}
#idsad{
	width: 100px;
	height: 100px;
	border: solid
}
.column{
	position:relative;
	vertical-align: text-bottom;
	text-align: center;
	font-family: 'Arial';
}
#ul2{
	font-family:'Times New Roman', Times, serif;
	font-size: 120%;
}
a:hover{
	color: red;
	text-decoration:underline;
}
a{
	color: red;
	text-decoration: solid;
}