<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Product</title>
       
    </head>
    <body>
        <%-include('header.ejs') %>
        <div id="display">
        
        </div>
        <%-include('footer.ejs') %>
    </body>
    
</html>