<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cookie Form</title>
        <link href="/css/cookie.css" rel="stylesheet">
    </head>
    <body>
        <form action="/addcookie" method="post">
            Key: <input type="text" name="key" id="keyid">
            Value: <input type="text" name="value" id="valueid">
            <input type="submit" value="submit">
        </form>
        <br>
        <div>ClearCookie <a href="/forget">clearcookie</a></div>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            <% for ( var item in cookies) { %>
                <tr>
                    <td><%= item %></td>
                    <td><%= cookies[item] %></td>
                </tr>
            <% } %>
        </table>
    </body>
</html>