<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Cookie Form</title>

    </head>
    <body>
        <div>ClearCookie <a href="/forget">clearcookie</a></div>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            <tr>
                <td><%=key%></td>
                <td><%=value%></td>
            </tr>
        </table>

    </body>
</html>